@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap');

body {
  display: flex;
  font-family: 'Nunito Sans', sans-serif;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #753682 0%, #bf2e34 100%);
}

.gameBoard {
  margin-top: 10rem;
  width: 60.25vw;
  height: 60vh;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
}

.player1Score,
.player2Score {
  color: #c7365f;
  font-size: 6rem;
  font-weight: 300;
}
.player1Name,
.player2Name {
  font-size: 2rem;
}

.player2CurrentScoreLabel,
.player1CurrentScoreLabel {
  font-size: 2.5rem;
}
.player1CurrentScore,
.player2CurrentScore {
  margin-top: 2rem;
  font-size: 2rem;
}
.player2CurrentScoreBox,
.player1CurrentScoreBox {
  border-radius: 10%;
  background-color: #c7365f;
  width: 15rem;
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.player1Board {
  border-right: 0.1px solid rgba(255, 255, 255, 0.4);
  width: 30vw;
  height: 60vh;
  float: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgba(255, 255, 255, 0.3);
}
.player2Board {
  border-left: 0.1px solid rgba(255, 255, 255, 0.4);
  width: 30vw;
  float: left;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.3);
}

.btns {
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
}

.btnNewGame {
  margin: 5px 10px 160px 10px;
}

.player-active {
  background-color: rgba(255, 255, 255, 0.6);
}

.btnHold {
  margin-top: 60px;
}

.gameDice {
  margin-top: -90px;
  margin-bottom: 80px;
}

.parentBtns {
  width: 60vw;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.btnNewGame,
.btnHold,
.btnRollDice {
  width: 8rem;
  height: 3rem;
  background-color: rgba(255, 255, 255, 0.838);
  border-radius: 30px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

.btnNewGame:hover,
.btnHold:hover,
.btnRollDice:hover {
}

.hidden {
  display: none;
}
